$color_1: white;
$background_color_1: #ff5400;
$background_color_2: green;
$background_color_3: #23282e;
#productDesc {
    margin-top: 2%;
}

.nav-size {
    margin-right: 0;
    .nav-size2 {
        padding-right: 0;
        .nav-menu {
            background-color: $background_color_3;
        }
    }
}

#logo {
    width: 50%;
}

input {
    max-width: 15%;
}

button,
a {
    cursor: pointer;
    color: $color_1 !important;
    border-radius: 0 !important;
    background-color: $background_color_1 !important;
    border: 2px solid $background_color_1 !important;
    border-color: $background_color_1;
    &:hover {
        background-color: $background_color_1;
        border-color: $background_color_1;
        color: $color_1 !important;
    }
    &:active {
        background-color: $background_color_1 !important;
        border-color: $background_color_1;
    }
}

.zoom {
    transition: transform .2s;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    &:hover {
        -ms-transform: scale(1.2);
        /* IE 9 */
        -webkit-transform: scale(1.2);
        /* Safari 3-8 */
        transform: scale(1.2);
    }
}

.fa-shopping-cart {
    color: $color_1;
    font-size: 30px;
    margin-right: 1%;
    cursor: pointer;
    strong {
        font-size: 20px;
        background-color: $background_color_2;
        border-radius: 30%;
        padding-left: 10%;
        padding-right: 10%;
        margin-left: 10%;
        color: $color_1;
    }
}

@media (max-width: 825px) {
    #logo {
        width: 80%;
    }
}

@media (max-width: 755px) {
    #logo {
        width: 90%;
    }
}

@media (max-width: 667px) {
    #logo {
        width: 100%;
    }
}

@media (max-width: 575px) {
    #logo {
        width: 10%;
    }
    .fa-shopping-cart {
        position: relative;
        left: 90%;
        bottom: 45px;
    }
}

@media (max-width: 480px) {
    #logo {
        width: 10%;
    }
    .fa-shopping-cart {
        position: relative;
        left: 85%;
        bottom: 35px;
    }
}