.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #23282e;
    color: white;
}

p {
    text-align: center;
    margin-right: 5%;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}