<app-menu class="col-md-3  col-lg-3"></app-menu>
<br>

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-3 col-sm-8 offset-sm-2 col-xs-12">

            <!-- Add Product -->
            <!-- <div> -->
            <button routerLink="/add-product" type="button " class="btn btn-success">Add Product</button>
            <!-- </div> -->

            <!-- SEARCH -->
            <div class="" id="searchBox">
                <form class="form-inline">
                    <input class="form-control mr-sm-2 " type="search" placeholder="Search" [(ngModel)]="productSearch" name="search" aria-label="Search">

                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="searchProduct()"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
    </div>
    <br><br>
    <!-- Table -->
    <div class="row ">
        <div class="panel col-md-8 offset-md-3 col-sm-12 offset-sm-1 col-xs-12">
            <div class="panel-body table-responsive">
                <table class="table table-bordered ">
                    <thead>
                        <tr>
                            <th scope="col ">Picture</th>
                            <th scope="col ">Name</th>
                            <th scope="col ">Categories</th>
                            <th scope="col ">Price</th>
                            <th scope="col ">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of products | paginate: { itemsPerPage: 10, currentPage: p }">
                            <td><img src={{product.imageUrl}}></td>
                            <td>{{product.name}}</td>
                            <ng-container *ngFor="let item of category">
                                <td *ngIf="item.id == product.categoryId">
                                    {{item.name}}
                                </td>
                            </ng-container>
                            <td>{{product.price}}</td>
                            <!-- Edit/Delete Buttons -->
                            <td>
                                <button [routerLink]="['/edit-product', product.id]" type="button " id="button" class=" btn btn-info btn - sm "><i class="fa fa-pencil"></i></button>
                                <button type="button " class=" btn btn-danger btn - sm " (click)="openModal(template)"><i class="fa fa-trash"></i> </button>
                                <ng-template #template>
                                    <div class="modal-body text-center">
                                        <p>Are you sure you want to delete {{product.name}}</p>
                                        <button type="button" class="btn btn-default" (click)="deleteProduct(product.id)">Yes</button>
                                        <button type="button" class="btn btn-primary" (click)="decline()">No</button>
                                    </div>
                                </ng-template>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- pagination -->
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
    </div>
    <br><br>
    <!-- USER LAYOUT -->
    <div class="col-md-8 offset-md-4 col-sm-8 offset-sm-2 col-xs-8 ">
        <div>
            <button routerLink="/user-layout" type="button " class="btn btn-danger">Go To User Layout</button>
        </div>
    </div>
    <br><br>

</div>