.nav-menu {
    background-color: #23282e;
}

.bg-dark {
    background-color: #23282e !important;
}

.card-body {
    a {
        // background-color: #f0a74c;
        background-color: #c45500;
        &:hover {
            color: white;
        }
        &:active {
            background-color: #c45500;
            color: white;
        }
    }
}

ul li a {
    color: white;
    cursor: pointer;
}

div a {
    color: white;
}

.nav-size2 {
    padding-right: 0;
}

.nav-size {
    margin-right: 0;
}

.category-background {
    margin: 0;
    background-color: #23282e;
}

.fa-shopping-cart {
    color: white;
    font-size: 30px;
    margin-right: 1%;
    cursor: pointer;
    strong {
        // height: 5px;
        font-size: 20px;
        background-color: green;
        border-radius: 30%;
        padding-left: 10%;
        padding-right: 10%;
        margin-left: 10%;
        // background-color: red;
        color: white;
    }
}

.shopingCart {
    margin-right: 1%;
}

img {
    margin-top: 10%;
    width: 50%;
}

#logo {
    margin-top: 0;
    width: 50%;
    vertical-align: middle;
}

button {
    margin: 1%;
}

@media (max-width: 850px) {
    #logo {
        width: 100%
    }
}

@media (max-width: 575px) {
    #logo {
        width: 30px;
        margin-top: 0;
    }
    .nav-menu {
        height: 120px;
    }
    .nav-size {
        max-width: 575px;
        background-color: #23282e;
        margin: 0;
    }
    .fa-shopping-cart {
        position: relative;
        left: 90%;
        bottom: 105px;
    }
    .form-inline {
        input {
            max-width: 50%;
        }
    }
}