$color_1: white;
$background_color_1: #23282e;
$background_color_2: #c45500;
$background_color_3: green;
.nav-menu {
    background-color: $background_color_1;
}

.bg-dark {
    background-color: $background_color_1 !important;
}

.card {
    img {
        height: 200px;
    }
    .card-body {
        a {
            // background-color: #f0a74c;
            background-color: $background_color_2;
            &:hover {
                color: $color_1;
            }
            &:active {
                background-color: $background_color_2;
                color: $color_1;
            }
        }
    }
}

ul li a {
    color: $color_1;
    cursor: pointer;
}

div a {
    color: $color_1;
}

.nav-size2 {
    padding-right: 0;
}

.nav-size {
    margin-right: 0;
}

.category-background {
    margin: 0;
    background-color: $background_color_1;
}

.shopingCart {
    margin-right: 1%;
    .fa-shopping-cart {
        color: $color_1;
        font-size: 30px;
        margin-right: 1%;
        cursor: pointer;
        strong {
            // height: 5px;
            font-size: 20px;
            background-color: $background_color_3;
            border-radius: 30%;
            padding-left: 10%;
            padding-right: 10%;
            margin-left: 10%;
            color: $color_1;
        }
    }
}

img {
    margin-top: 10%;
    width: 50%;
}

#logo {
    margin-top: 0;
    width: 50%;
    vertical-align: middle;
}

button {
    margin: 1%;
}

@media (max-width: 850px) {
    #logo {
        width: 100%
    }
}

@media (max-width: 575px) {
    #logo {
        width: 30px;
        margin-top: 0;
    }
    .nav-menu {
        height: 120px;
    }
    .nav-size {
        max-width: 575px;
        // background-color: $background_color_1;
        margin: 0;
    }
    .fa-shopping-cart {
        position: relative;
        left: 90%;
        bottom: 105px;
    }
    .form-inline {
        input {
            max-width: 50%;
        }
    }
}