<div class="xxc ">
    <!-- <a href="#"><img class="login" src="assets/img/login-white.png" alt="logo"></a> -->

</div>




<div class="row ">
    <div class="nav-side-menu col-lg-12 col-md-12 col-sm-12">
        <div class="brand">
            <a class="navbar-brand" href="#"><img src="assets/img/logo.png" alt="logo"></a>
        </div>
        <i class="fa fa-bars fa-2sx toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
        <div class="menu-list">

            <ul id="menu-content" class="menu-content collapse out">
                <li>
                    <a routerLink="categories">
                        <i class="fa fa-th-list fa-lg"></i> Categories
                    </a>
                </li>
                <li>
                    <a routerLink="products">
                        <i class="fa fa-headphones fa-lg"></i> Products
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>