#submitButton {
    float: right;
}

img {
    width: 3%
}

#search {
    width: 50%;
    // float: right;
    // clear: both;
}

#button {
    margin-right: 2%;
}

@media (max-width: 767px) {
    #search {
        width: 80%;
        margin-top: 3%;
    }
}