#submitButton {
    float: right;
}

#searchBox {
    // float: right;
    // float: right;
    // // left: 60%;
    // position: relative;
    // background-color: yellow;
}

img {
    width: 3%
}

#search {
    width: 50%;
    background-color: red;
    // float: right;
    // clear: both;
}

.form-inline {
    input {
        max-width: 50%;
    }
}

#button {
    margin-right: 2%;
}

@media (max-width: 767px) {
    #search {
        width: 80%;
        margin-top: 3%;
    }
}