.nav-menu {
    background-color: #23282e;
}

.bg-dark {
    background-color: #23282e !important;
}

ul li a {
    color: white;
    cursor: pointer;
}

div a {
    color: white;
}

.nav-size2 {
    padding-right: 0;
}

.nav-size {
    margin-right: 0;
}

img {
    width: 50%;
}

input {
    max-width: 15%;
}

button {
    border-radius: 0 !important;
    background-color: #ff5400;
    border-color: #ff5400;
    &:hover {
        background-color: #ff5400;
        border-color: #ff5400;
    }
}

.zoom {
    transition: transform .2s;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.zoom:hover {
    -ms-transform: scale(1.2);
    /* IE 9 */
    -webkit-transform: scale(1.2);
    /* Safari 3-8 */
    transform: scale(1.2);
}

.fa-shopping-cart {
    color: white;
    font-size: 30px;
    margin-right: 1%;
    cursor: pointer;
    strong {
        background-color: green;
        border-radius: 30%;
        padding-left: 10%;
        padding-right: 10%;
        margin-left: 10%;
        color: white;
    }
}

@media (max-width: 725px) {
    img {
        width: 70%;
    }
}

@media (max-width: 575px) {
    img {
        width: 10%;
    }
    .fa-shopping-cart {
        position: relative;
        left: 90%;
        bottom: 45px;
    }
}

@media (max-width: 480px) {
    img {
        width: 10%;
    }
    .fa-shopping-cart {
        position: relative;
        left: 85%;
        bottom: 35px;
    }
}