<br><br><br>
<div class="container">
    <div class="row col-lg-12 col-md-12 col-sm-12">

        <div class="col-lg-3  col-md-3 col-sm-3">
            <img class="card-img-top mx-auto zoom" src="{{products.imageUrl}} " alt="">
        </div>
        <div class="col-lg-9  col-md-9 col-sm-9">
            <!-- <div class="card-body "> -->
            <h5 class="card-title">{{products.name}}</h5>
            <p class="card-text">{{products.shortDescription}} </p>
            <p class="card-text">Manufacturer: <strong>{{products.manufacturer}}</strong> </p>
            <p class="card-title">Price: <strong>{{products.price}}$</strong></p>
            <input type="number" min="0"> <button class="btn-sm btn-primary">Add To Cart</button>
            <!-- </div> -->
        </div>

        <div class="col-lg-9  col-md-9 col-sm-9">
            <p class="card-text">{{products.fullDescription}} </p>
        </div>

    </div>
</div>

<br><br><br>