<br><br>


<div class="container">

    <div class="row">
        <div class="panel col-md-7 offset-md-2 col-sm-12   offset-md-5">
            <div class="panel-heading">
                <h3 class="panel-title">Products</h3>
            </div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Products</th>
                            <th scope="col">Price</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">XXX</th>
                            <td>XXX</td>
                            <td>XXX</td>
                        </tr>
                        <tr>
                            <th scope="row">XXX</th>
                            <td>XXX</td>
                            <td>XXX</td>
                        </tr>
                        <tr>
                            <th scope="row">XXX</th>
                            <td>XXX</td>
                            <td>XXX</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>