.nav-menu {
    background-color: #23282e;
}

.nav-size2 {
    padding-right: 0;
}

.fa-shopping-cart {
    color: white;
    font-size: 40px;
    margin-right: 1%;
}

img {
    margin-top: 10%;
    width: 50%;
}

#logo {
    width: 40%
}

button {
    margin: 2%;
}

@media (max-width: 850px) {
    #logo {
        width: 100%
    }
}

@media (max-width: 575px) {
    #logo {
        width: 30px;
        margin-top: 0;
    }
    .nav-menu {
        height: 120px;
    }
    .nav-size {
        max-width: 575px;
        background-color: #23282e;
        margin: 0;
    }
    .fa-shopping-cart {
        position: relative;
        left: 90%;
        bottom: 105px;
    }
    .form-inline {
        input {
            max-width: 50%;
        }
    }
}