.xxc {
    background-color: #23282e;
    height: 60px;
}

.card {
    // margin: 1%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 50%;
}

// .card-body {
//     display: block;
//     margin-left: auto;
//     margin-right: auto;
// }