.nav-menu {
    background-color: #23282e;
}

.bg-dark {
    background-color: #23282e !important;
}

ul li a {
    color: white;
    cursor: pointer;
}

div a {
    color: white;
}

.nav-size2 {
    padding-right: 0;
}

.nav-size {
    margin-right: 0;
}

.category-background {
    margin: 0;
    background-color: #23282e;
}

.shopingCart {
    margin-right: 1%;
    .fa-shopping-cart {
        color: white;
        font-size: 30px;
        margin-right: 1%;
        cursor: pointer;
        strong {
            // height: 5px;
            font-size: 20px;
            background-color: green;
            border-radius: 30%;
            padding-left: 10%;
            padding-right: 10%;
            margin-left: 10%;
            // background-color: red;
            color: white;
        }
    }
}

.sizing {
    width: 20px;
    img {
        height: 50px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .btn-danger {
        border-radius: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}
.checkout{
    float: right;
        //  position: relative;
        }
#logo {
    margin-top: 0;
    width: 50%;
    vertical-align: middle;
}

button {
    margin: 1%;
}

#quantityInput {
    width: 10%;
    input {
        width: 80%;
        margin: auto;
    }
}

.tr-dark {
    background-color: #212529 !important;
    color: white;
}

@media (max-width: 850px) {
    #logo {
        width: 100%
    }
}

@media (max-width: 575px) {
    #logo {
        width: 30px;
        margin-top: 0;
    }
    .nav-menu {
        height: 120px;
    }
    .nav-size {
        max-width: 575px;
        background-color: #23282e;
        margin: 0;
    }
    .shopingCart {
        position: relative;
        left: 80%;
        bottom: 50px;
    }
    .form-inline {
        input {
            max-width: 50%;
        }
    }
}