button {
    margin: 1%;
}

.image-upload-container {
    cursor: pointer;
    width: 20%;
}

#selectImage {
    vertical-align: -webkit-baseline-middle;
    #image_Url {
        display: none;
    }
}